
body {
  height: 650px;
}

.main_cont {
  height: 100%;
  width: 100%;
}

#img_cont div {
  position: relative;
  bottom: 37px;
  left: 8%;
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: fixed;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}